#about{
    width: 100vw;
    height:100vh;
    position: relative;
    color: white;
    

    .aboutback{
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0;
        overflow: hidden;
        background: linear-gradient(rgba(0, 0, 0, 0.8) 2%,transparent 85%,rgba(0, 0, 0, .6),rgba(0, 0, 0, 1) ) ,url("../images/about-back.jpg")  ;
        background-position: center;
        background-size: cover;
    }

    .abouttext{
        position: absolute;
        top: 0;
        left: 10vw;
       max-width: 80vw;
       width: 40vw;
       height: 100vh;
       z-index: 999;
       h1{
           font-size: 4rem;
           margin-bottom: 1rem;
           color: rgb(54, 116, 209);
       }
       p{
           font-size: 3rem;
       }

       a{
           color: rgb(92, 151, 240);
           text-decoration: none;
           display: inline ;
       }
    }
}