#contact{ 
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    font-size: 4rem;
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, .9) ,rgba(0, 0, 0, .6),transparent 100%,rgba(0, 0, 0, 0.8)),url("../images/contact-back.jpg")  center no-repeat;
    background-size: cover;
    justify-content: space-evenly !important;

    *{
        overflow: hidden;
    }
    

    .left{
        border-radius: 5rem;
        width: 60rem;
        aspect-ratio: 12/16;
        @include center;
        background-color: rgba(61, 60, 60, 0.8) !important;
        box-shadow: 5px 5px 10px black;
        transition: .3s all ease;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.556);
        padding: 2rem; 
        color: white;

        img{
            width: 50%;
            border-radius: 50%;
            transition: .3s all ease;
            box-shadow: 4px 4px 8px rgb(4, 4, 4);
        }

        hr{
         width: 90% !important;
         margin: 2rem 0;
         height: 2px;
         background-color: rgb(251, 245, 245) !important;
        }
        p{
            color: rgb(207, 206, 206);
            font-size: 2rem;
            @include center;
            flex-direction: row !important;
            text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);

            a{
                padding: 1rem !important;
                margin-right: 2rem;
                color: white;
            }
            i{
                margin-right:.5rem ;
            }
        }

        &:hover{
            box-shadow: 5px 5px 20px black;
            transform: scale(1.05);
            img{
                box-shadow: 4px 4px 15px rgb(4, 4, 4);
                transform: scale(1.06);
            }
        }
    }






    .container {
        position: relative;
        width: 60rem;
        aspect-ratio: 12/16;
        border-radius: 5rem;
        padding: 40px;
        box-sizing: border-box;
        background-color: rgba(61, 60, 60, 0.8) !important;
        box-shadow: 5px 5px 10px black;
        transition: .3s all ease;
      
      
     
      
      .brand-title {
        margin-top: 10px;
        font-weight: 900;
        font-size: 5rem;
        text-shadow: 2px 2px 3px black;
        color: #1DA1F2;
        letter-spacing: 1px;
      }
      
      .inputs {
        text-align: left;
        margin-top: 30px;
       
      }
      
      label, input {
        display: block;
        width: 100%;
        padding: 0;
        border: none;
        outline: none;
        box-sizing: border-box;
      }
      
      label {
        margin:  10px 0;
        color: white;
        margin-bottom: 4px;
        text-shadow: 2px 2px 3px black;
        font-size: 3rem;
      }
      
      label:nth-of-type(2) {
        margin-top: 12px;
      }
      
      input::placeholder,textarea::placeholder {
        color: rgb(210, 210, 210);
      }
      
      input,textarea {
        width: 100%;
        color: white;
        background: #6e6e6e;
        padding: 10px;
        padding-left: 20px;
        height: 50px;
        font-size: 14px;
        border-radius: 50px;
        border: none;
        box-shadow: inset 6px 6px 6px #626263, inset -6px -6px 6px rgb(63, 62, 62);
      }
      textarea{
        height: 80px;
        color: white;
      }
      textarea:active,
      textarea:focus{
        outline: none;
        border: none;
      }
      button{

        margin: 20px;
      }
      
      &:hover{
        box-shadow: 5px 5px 20px black;
        transform: scale(1.05);
        
    }
      
      
    }
}


