svg {
    height: 1000px;
    width: 100px;
  }
  svg circle#css-motion-path {
    animation: move-it 5s -2.5s infinite both linear;
    motion-path: path("M50,0 C100,0 100,50 50,50 C0,50 0,100 50,100 C100,100 100,150 50,150 C0,150 0,200 50,200 C100,200 100,250 50,250C0,250 0,300 50,300C100,300 100,350 50,350C0,350 0,400 50,400C100,400 100,450 50,450C0,450 0,500 50,500C100,500 100,550 50,550C0,550 0,600 50,600  C100,600 100,650 50,650    C0,650 0,700 50,700    C100,700 100,750 50,750    C0,750 0,800 50,800    C100,800 100,850 50,850    C0,850 0,900 50,900    C100,900 100,950 50,950    C0,950 0,1000 50,1000    C100,1000 100,1050 50,1050");
    offset-path: path("M50,0 C100,0 100,50 50,50 C0,50 0,100 50,100 C100,100 100,150 50,150 C0,150 0,200 50,200 C100,200 100,250 50,250C0,250 0,300 50,300C100,300 100,350 50,350C0,350 0,400 50,400C100,400 100,450 50,450C0,450 0,500 50,500C100,500 100,550 50,550C0,550 0,600 50,600  C100,600 100,650 50,650    C0,650 0,700 50,700    C100,700 100,750 50,750    C0,750 0,800 50,800    C100,800 100,850 50,850    C0,850 0,900 50,900    C100,900 100,950 50,950    C0,950 0,1000 50,1000    C100,1000 100,1050 50,1050");
  }
  
  @keyframes move-it {
    100% {
      motion-offset: 100%;
      offset-distance: 100%;
    }
  }
  
  aside {
    display: inline-block;
    color: #d4d7dd;
    font-size: 1.2rem;
    font-size: calc(3vw + .2em);
    line-height: 1.4;
    font-family: -apple-system, "Segoe UI", "Roboto", sans-serif;
    padding: 2rem;
    width: calc(100% - 100px);
  }
  p {
    margin-bottom: 2rem;
  }
  code {
    font-family: monospace;
  }
  