/* lg */
@media (min-width: 1200px) {
  html {
    font-size: 50% !important;
  }

  .sillFoldable {
    h2 {
      font-size: 7rem !important;
    }
  }
}

/* md */
@media (min-width: 992px) and (max-width: 1199px) {
  html {
    font-size: 35% !important;
  }


}

/* sm */
@media (min-width: 768px) and (max-width: 991px) {
  html {
    font-size: 30% !important;
    ;
  }

}

/* xs */
@media (max-width: 767px) {
  html {
    font-size: 22% !important;
    ;
  }

  // .header-strip{
  //     width: 16rem;
  // }
}

/* XS Portrait */
@media (max-width: 479px) {
  html {
    font-size: 15% !important;
    ;
  }

  // .header-strip{
  //     width: 18rem;
  // }
}


@media (max-width: 900px) {

  nav {
    height: 70px;
    width: 100vw !important;
    top: auto;
    bottom: 0rem;
    z-index: 99;



    .nav {
      width: 100vw !important;
      height: 70px !important;
      grid-template-rows: 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      padding: 0 15rem;
      overflow: hidden;
      padding-bottom: 5px;
    }

    .link {
      margin-left: 4rem;
      border-radius: 0 0 100px 100px;
      justify-content: center;
    }

    a {
      i {
        font-size: 25px;
      }
    }
  }

  .active {
    b:nth-child(1) {
      width: $curve-width !important;
      height: 70px !important;
      top: 0 !important;
      left: -$curve-width;
    }

    b:nth-child(1)::after {
      height: 70px !important;
      width: $curve-width;
      border-top-right-radius: 30px !important;
      border-bottom-right-radius: 0rem !important;
    }

    b:nth-child(3) {
      width: $curve-width !important;
      height: 70px !important;
      top: 0;
      right: -$curve-width;
    }

    b:nth-child(3)::after {
      height: 70px !important;
      width: $curve-width;
      border-top-left-radius: 30px;
      border-top-right-radius: 0rem !important;
    }
  }

  nav:hover {
    width: 100vw !important;

    .link {
      margin-left: 4rem;
      padding-left: 3rem;
      justify-content: center;

    }

    .active {

      b:nth-child(1),
      b:nth-child(3) {
        width: $curve-width;
      }
    }

    a {
      text-align: left;

      // 
      h2 {
        display: none;
      }
    }
  }

  .header-strip {
    height: 91vh;

    &::before {
      width: 20px;
    }

    .strip-dots {
      left: -8px;
    }

    a {
      width: 20rem;
      box-shadow: -2px -2px 5px #5a5a5a,
        2px 2px 5px #ffffff;
      font-size: 8rem;
    }
  }

  .header-text {
    h1 {
      font-size: 22rem;
    }

    h2 {
      font-size: 11rem;
      color: #d9d6d6;
    }

    h1,
    h2 {
      text-shadow: 2px 2px 2px black;
    }
  }

  .skills {
    .innerSkills {
      flex-direction: column;
      gap: 15rem;

      .sillFoldable {
        width: 100% !important;
        height: 16.66%;
        transform: translateY(0) !important;
        padding: 20px;
        box-shadow: 2.5px 2.5px 10px var(--shade2), -2.5px -2.5px 10px var(--shade2);

        h2 {
          transform: none !important;
        }

        ul {

          margin-top: 20px;
          transform: translateY(100%);
          font-size: 6rem;
          letter-spacing: 4px;

          i {
            font-size: 6rem !important;
          }
        }
      }

      .active {
        height: 60%;

        h2 {
          // top: -3rem !important;
        }
      }
    }
  }




  .h2Heading {
    font-size: 22rem;
    text-shadow: .8rem .8rem .5rem var(--shade2);
  }

  #project {
    padding: 5rem;



    .projectScrollWrapper {
      width: 90vw;

      .projectScrollWrapperInner {
        padding: 0 !important;

        &>div {
          scale: 2.2;
          margin: 52rem 40rem;
          transform: none !important;

          h3 {
            font-size: 5rem !important;
            letter-spacing: 1px !important;
          }

          ul {
            flex-wrap: wrap;
            margin-right: 1rem;
            justify-content: center !important;

            li {
              height: 3rem !important;
              font-size: 2rem !important;
            }
          }

          .heading a {
            height: 3rem !important;
            font-size: 2rem !important;
            overflow: visible !important;
          }

          p {
            font-size: 2.5rem !important;
            height: fit-content !important;
          }

        }

        &>div:nth-child(1) {
          margin-left: 40rem;
        }



      }


    }
  }

  #timeline {
    .timelineContent {
      .timelineTextBox {
        padding: 8rem;

        &::after {
          scale: 2;
          font-size: 3rem;
        }

        h2 {
          font-size: 12rem;
        }

        .position,
        .date {
          font-size: 4rem;
        }

        p {
          font-size: 6rem;
        }
      }
    }
  }

  #certificates {
    width: 95vw;

    .scrollAnimationContainer {
      margin: 8rem auto;
      scale: 1.2;
    }

    h2 {
      font-size: 12rem !important;
    }
  }

  #contact {
    height: 110vh;
    flex-direction: column;

    .left {
      width: 65vw;

      // min-height: 75vh;
      // aspect-ratio: 4/3;
      img {
        width: 45%;
        margin-bottom: 3rem;
      }

      h5 {
        font-size: 5rem;
      }

      p {
        font-size: 3.5rem;
      }

      &:hover {
        transform: none;

        img {
          transform: none
        }

      }
    }

    .container {
      width: 70vw;
      overflow: visible;
      aspect-ratio: 12/12;


      .brand-title {
        font-size: 8rem;
      }

      label,
      input,
      textarea {
        font-size: 4rem;
      }

      input {
        height: 25px;
      }

      textarea {
        height: 35px;
      }

      &:hover {
        transform: none;

      }
    }
  }

  #about {
    text-shadow: 1px 3px 5px black;

    .aboutback {
      background-position: center;
    }

    .abouttext {
      left: 0%;
      right: 0;
      margin: 0 auto;
      width: 80vw;

      h1 {
        font-size: 8rem;
        margin-bottom: 3rem;
      }

      p {
        font-size: 6rem;
      }

      h2 {
        font-size: 4rem;
      }
    }
  }

  .model1,
  .model2 {
    display: none !important;
  }

  #post {
    .button {
      right: 10rem !important;
    }

    height: 180vh !important;

    .posts {
      width: 100vw;
      height: 170vh !important;
      justify-content: ceter;
      flex-direction: column !important;

      iframe {
        border-radius: 4rem;
        width: 80vw;

        &:hover {
          transform: none !important;
        }
      }
    }

  }

  .button {
    font-size: 5rem;
    padding: 3rem;
  }
}