.skills {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: rgb(1, 7, 30);
  background: linear-gradient(rgb(1, 7, 30) 5%, black);
  // background: linear-gradient(rgba(255, 255, 255, 0.5),rgba(253, 253, 253, 0.5)),url(../images/coding.webp) fixed center center;
  // background-size: cover;


  .innerSkills {
    width: 80vw;
    height: 90%;

    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: visible;
    gap: 3rem;

    .sillFoldable {
      width: 16.66%;
      height: 90%;
      border-radius: 20px;
      transition: all .3s ease-in-out;
      padding: 60px;
      overflow: hidden;
      cursor: pointer;
      position: relative;
      border: 2px var(--shade1) solid;
      box-shadow: 5px 5px 20px var(--shade2), -5px -5px 20px var(--shade2);




      h2 {
        font-size: 12rem;
        font-weight: 600;
        transform: rotate(90deg) translateX(-50%);
        transform-origin: 0%;
        transition: all .6s ease-in-out;
        width: fit-content;
        height: auto;
        overflow: visible;
        color: var(--shade1);
        text-shadow: 5px 5px 15px var(--shade2);
        text-transform: uppercase;
        position: relative;
        z-index: 1;
        position: absolute;
        top: 40%;
        left: 15rem;
      }

      ul {
        transform: translateX(-1000%);
        transition: all .7s ease-in-out;
        color: white;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.543);
        font-size: 4rem;
        margin-top: 40px;
        overflow: visible;
        letter-spacing: 8px;

        li {
          display: flex;
          justify-content: left;
          align-items: center;
          font-weight: 600;
          background-color: #0000000e;
          margin-bottom: 4rem;
          padding: 1rem;
          border-radius: 15px;
          // border: 1px solid rgba(255, 255, 255, 0.672);
          box-shadow: 4px 5px 5px rgba(255, 255, 255, 0.526);
          transition: .3s all ease;
          color: rgba(255, 255, 255, 0.648);


          &:hover {
            transform: scale(1.03);
            box-shadow: 4px 5px 5px rgba(255, 255, 255, 1);
            color: white;
          }

          i {
            // color: ;
            font-size: 5rem;
            margin-right: 5rem;
            padding: 8px;

          }
        }
      }



    }

    .active {
      width: 50%;

      h2 {

        font-size: 9rem;
        font-weight: 900;
        transform: none;
        position: relative;
        top: 0;
        left: 0;
      }

      ul {
        transform: none !important;
      }
    }

  }
}