@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Vujahday+Script&display=swap");
* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

html {
  font-size: 65.5% !important;
}

:root {
  --base: #140a15;
  --black: #0b0404;
  --shade1: #77bee7;
  --shade2: #49a8df;
  --shade3: #d70607;
  --shade4: #4b040d;
  --text1: white;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* custom scroll bar */
::-webkit-scrollbar {
  width: 15px;
  background-color: transparent;
}

/* Track */
::-webkit-scrollbar-track {
  margin: 5px;
  background: #fff;
  border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #77bee7;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #49a8df;
}

::-moz-selection {
  color: black !important;
  background: rgba(255, 255, 255, 0.3);
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
}

::selection {
  color: black !important;
  background: rgba(255, 255, 255, 0.3);
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
}

/* .preloader ----------------------------------- */
.preloader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: black url(../images/loader.gif) no-repeat center center;
  z-index: 999999999;
  display: block;
}

.button {
  padding: 2rem;
  font-size: 2.5rem;
  background-color: #77bee7;
  color: #000;
  outline: none;
  border-radius: 3rem;
  border: 0;
  box-shadow: 5px 5px 20px black;
  transition: 0.2s all ease;
  overflow: hidden;
}
.button a {
  color: #000;
  text-decoration: none;
}
.button:hover {
  transform: scale(1.05);
}
.button:active {
  transform: scale(0.95);
}

.resHide {
  display: block;
}

.resShow {
  display: none;
}

/* ==============nav====================== */
nav {
  height: 100vh;
  width: 10rem;
  position: fixed;
  top: 0;
  background-color: #000;
  z-index: 9999999 !important;
  transition: 0.4s all ease;
}
nav .nav {
  height: 100vh;
  width: 33rem;
  background-color: rgb(92, 151, 240);
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  padding: 15rem 0;
}
nav .link {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 1rem;
  padding-left: 3rem;
  border-radius: 4rem 0 0 4rem;
  justify-content: start;
  transition: 0.4s all ease;
}
nav .link a {
  transition: 0.3s all ease;
}
nav .link:hover a {
  transform: scale(1.25);
}
nav .active {
  background-color: black;
  position: relative;
  overflow: visible;
}
nav .active b:nth-child(1) {
  position: absolute;
  width: 6rem;
  height: 3rem;
  background-color: black;
  top: -3rem;
  transition: 0.4s all ease;
}
nav .active b:nth-child(1)::after {
  content: "";
  position: absolute;
  top: 0rem;
  width: 100%;
  height: 3rem;
  border-bottom-right-radius: 2rem;
  background-color: rgb(92, 151, 240);
}
nav .active b:nth-child(3) {
  position: absolute;
  width: 6rem;
  height: 3rem;
  background-color: black;
  bottom: -3rem;
  transition: 0.4s all ease;
}
nav .active b:nth-child(3):after {
  content: "";
  position: absolute;
  top: 0rem;
  width: 100%;
  height: 3rem;
  border-top-right-radius: 2rem;
  background-color: rgb(92, 151, 240);
}
nav .active a {
  color: white;
}
nav .active a i {
  color: white;
}
nav a {
  font-size: 2rem;
  text-align: left;
  text-decoration: none;
  letter-spacing: 0.5rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 11;
}
nav a i {
  font-size: 3rem;
  padding-right: 2rem;
  color: black;
  display: block;
}
nav a h2 {
  display: none;
}

nav:hover {
  width: 33rem;
}
nav:hover .link {
  margin-left: 4rem;
  padding-left: 4rem;
  justify-content: none;
}
nav:hover .active b:nth-child(1),
nav:hover .active b:nth-child(3) {
  width: 25rem;
}
nav:hover a {
  text-align: none;
}
nav:hover a h2 {
  display: block;
}

/* ==============nav====================== */
.model1 {
  position: absolute;
  left: -180px;
  bottom: 0;
  z-index: 99;
}

.model1 img,
.model2 img {
  height: 30vh;
}

.model2 {
  position: absolute;
  right: -180px;
  bottom: 0px;
  z-index: 99;
}

/* ==============header====================== */
header {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.header-bc {
  width: 110vw;
  height: 101vh;
  background-color: rgb(0, 1, 3);
  background: linear-gradient(transparent 80%, black), url("../images/header-bc.webp") center center;
  background-size: 100% 110%;
  filter: blur(1px);
}

.header-strip {
  width: 120px;
  height: 100vh;
  position: fixed;
  padding-right: 2rem;
  top: 0;
  right: -100px;
  z-index: 9999;
  transition: all 0.6s ease !important;
  overflow-x: visible;
  border-radius: 54px 0 0 54px;
}
.header-strip::before {
  content: "";
  width: 30px;
  height: 140px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -10px;
  z-index: 99999;
  border-radius: 80px;
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}
.header-strip:hover {
  right: 0;
  background: transparent;
}
.header-strip .strip-dots {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0px;
  color: white;
  z-index: 99999;
  font-size: 12px;
  cursor: pointer;
}
.header-strip a {
  margin: 12px;
  margin-left: 50px;
  width: 8rem;
  aspect-ratio: 1;
  border-radius: 1rem;
  background-color: #fff;
  font-size: 4rem;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.3s all ease;
  box-shadow: 1px 1px 5px black;
  border-radius: 13px;
  background-color: linear-gradient(315deg, #cacaca, #f0f0f0);
  box-shadow: -5px -5px 10px #5a5a5a, 5px 5px 10px #ffffff;
}
.header-strip a:nth-child(2) {
  color: #4267B2;
}
.header-strip a:nth-child(3) {
  color: #0E76A8;
}
.header-strip a:nth-child(4) {
  color: #C13584;
}
.header-strip a:nth-child(5) {
  color: #171515;
}
.header-strip a:nth-child(6) {
  color: rgb(1, 169, 132);
}
.header-strip a:nth-child(7) {
  color: gray;
}
.header-strip a:nth-child(8) {
  color: rgb(48, 200, 102);
}
.header-strip a:nth-child(9) {
  color: black;
}
.header-strip a:nth-child(10) {
  color: rgb(48, 60, 55);
}
.header-strip a:hover {
  transform: scale(1.1);
  font-size: 5rem;
  color: white;
}
.header-strip a:hover:nth-child(2) {
  background-color: #4267B2;
  box-shadow: 1px 1px 20px #4267B2, -1px -1px 20px #4267B2;
}
.header-strip a:hover:nth-child(3) {
  background-color: #0E76A8;
  box-shadow: 1px 1px 20px #0E76A8, -1px -1px 20px #0E76A8;
}
.header-strip a:hover:nth-child(4) {
  background-color: #C13584;
  box-shadow: 1px 1px 20px #C13584, -1px -1px 20px #C13584;
}
.header-strip a:hover:nth-child(5) {
  background-color: #171515;
  box-shadow: 1px 1px 20px #171515, -1px -1px 20px #171515;
}
.header-strip a:hover:nth-child(7) {
  background-color: gray;
  box-shadow: 1px 1px 20px gray, -1px -1px 20px gray;
}
.header-strip a:hover:nth-child(6) {
  background-color: rgb(1, 169, 132);
  box-shadow: 1px 1px 20px rgb(1, 169, 132), -1px -1px 20px rgb(1, 169, 132);
}
.header-strip a:hover:nth-child(8) {
  background-color: rgb(1, 169, 132);
  box-shadow: 1px 1px 20px rgb(1, 169, 132), -1px -1px 20px rgb(1, 169, 132);
}
.header-strip a:hover:nth-child(9) {
  background-color: black;
  box-shadow: 1px 1px 20px black, -1px -1px 20px black;
}
.header-strip a:hover:nth-child(10) {
  background-color: rgb(48, 60, 55);
  box-shadow: 1px 1px 20px rgb(48, 60, 55), -1px -1px 20px rgb(48, 60, 55);
}

.header-text {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  transform: scale(0);
  transition: transform 0.6s ease !important;
}

.header-text h1 {
  font-size: 12rem;
  letter-spacing: 1rem;
  color: var(--text1);
  font-family: "Vujahday Script", cursive;
  overflow: hidden;
  text-align: center;
  font-weight: 900;
  text-shadow: 6px 6px 6px rgba(45, 45, 45, 0.8);
  padding: 2rem;
}

.header-text h2 {
  font-size: 6rem;
  text-align: left;
  letter-spacing: 1rem;
  color: var(--text1);
  font-family: "Vujahday Script", cursive;
  overflow: hidden;
  text-shadow: 5px 5px 5px rgba(56, 56, 56, 0.8);
}

#passion {
  color: var(--shade3);
}

/* ==============main====================== */
main {
  font-size: 3rem;
  position: relative;
}

/* skills==================================== */
.skills {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: rgb(1, 7, 30);
  background: linear-gradient(rgb(1, 7, 30) 5%, black);
}
.skills .innerSkills {
  width: 80vw;
  height: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: visible;
  gap: 3rem;
}
.skills .innerSkills .sillFoldable {
  width: 16.66%;
  height: 90%;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
  padding: 60px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  border: 2px var(--shade1) solid;
  box-shadow: 5px 5px 20px var(--shade2), -5px -5px 20px var(--shade2);
}
.skills .innerSkills .sillFoldable h2 {
  font-size: 12rem;
  font-weight: 600;
  transform: rotate(90deg) translateX(-50%);
  transform-origin: 0%;
  transition: all 0.6s ease-in-out;
  width: -moz-fit-content;
  width: fit-content;
  height: auto;
  overflow: visible;
  color: var(--shade1);
  text-shadow: 5px 5px 15px var(--shade2);
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  position: absolute;
  top: 40%;
  left: 15rem;
}
.skills .innerSkills .sillFoldable ul {
  transform: translateX(-1000%);
  transition: all 0.7s ease-in-out;
  color: white;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.543);
  font-size: 4rem;
  margin-top: 40px;
  overflow: visible;
  letter-spacing: 8px;
}
.skills .innerSkills .sillFoldable ul li {
  display: flex;
  justify-content: left;
  align-items: center;
  font-weight: 600;
  background-color: rgba(0, 0, 0, 0.0549019608);
  margin-bottom: 4rem;
  padding: 1rem;
  border-radius: 15px;
  box-shadow: 4px 5px 5px rgba(255, 255, 255, 0.526);
  transition: 0.3s all ease;
  color: rgba(255, 255, 255, 0.648);
}
.skills .innerSkills .sillFoldable ul li:hover {
  transform: scale(1.03);
  box-shadow: 4px 5px 5px rgb(255, 255, 255);
  color: white;
}
.skills .innerSkills .sillFoldable ul li i {
  font-size: 5rem;
  margin-right: 5rem;
  padding: 8px;
}
.skills .innerSkills .active {
  width: 50%;
}
.skills .innerSkills .active h2 {
  font-size: 9rem;
  font-weight: 900;
  transform: none;
  position: relative;
  top: 0;
  left: 0;
}
.skills .innerSkills .active ul {
  transform: none !important;
}

/* project==================================== */
#project {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: black;
  background-size: cover;
}

.project {
  width: 80vw;
  height: 90vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5rem;
  z-index: 10;
  margin: 5rem;
}
.project .project1 {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 5rem;
  overflow: hidden;
}
.project .project1 div {
  background-color: rgba(0, 0, 0, 0.24);
  border-radius: 4rem;
  overflow-y: hidden;
  border: 1px solid black;
  border-bottom: none;
  box-shadow: 1px 1px 10px rgba(121, 99, 99, 0.445), -1px -1px 10px rgba(121, 99, 99, 0.445);
  transition: 0.3s all ease;
  margin: 1rem;
}
.project .project1 div:hover {
  transform: scale(1.03);
}
.project .project1 div a {
  text-decoration: none;
}
.project .project1 div a img {
  width: 100%;
  height: 100%;
  transition: 0.5s all ease;
  filter: opacity(0.8);
}
.project .project1 div a h3 {
  padding-top: 0.5rem;
  text-align: center;
  color: white;
}
.project .project1 div a:hover img {
  height: 77%;
}

/* project==================================== */
#photo {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/photo-background.webp") center;
  background-size: cover;
  background-attachment: fixed;
}
#photo .photo {
  width: 85vw;
  height: 80vh;
  padding: 30px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3rem;
}
#photo .photo .photo1 {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  padding: 30px;
  overflow: hidden;
  grid-gap: 3rem;
}
#photo .photo .photo1 .pic-1 {
  grid-row: 1/4;
  grid-column: 1/4;
}
#photo .photo .photo1 .pic-2 {
  grid-row: 2/5;
  grid-column: 1/4;
}
#photo .photo .photo1 div {
  border-radius: 2rem;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
  transition: 0.3s all ease;
}
#photo .photo .photo1 div:hover {
  box-shadow: 0px 0px 20px white;
  transform: scale(1.1);
}
#photo .photo .photo1 div img {
  width: 100%;
  height: 100%;
}

/* about==================================== */
#about {
  width: 100vw;
  height: 100vh;
  position: relative;
  color: white;
}
#about .aboutback {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  overflow: hidden;
  background: linear-gradient(rgba(0, 0, 0, 0.8) 2%, transparent 85%, rgba(0, 0, 0, 0.6), rgb(0, 0, 0)), url("../images/about-back.jpg");
  background-position: center;
  background-size: cover;
}
#about .abouttext {
  position: absolute;
  top: 0;
  left: 10vw;
  max-width: 80vw;
  width: 40vw;
  height: 100vh;
  z-index: 999;
}
#about .abouttext h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
  color: rgb(54, 116, 209);
}
#about .abouttext p {
  font-size: 3rem;
}
#about .abouttext a {
  color: rgb(92, 151, 240);
  text-decoration: none;
  display: inline;
}

/* contact==================================== */
#post {
  width: 100vw;
  height: 110vh;
  background: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.6), transparent 50%, rgb(0, 0, 0)), url("../images/post.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
#post button {
  position: absolute;
  right: 5rem;
  bottom: 3rem;
}
#post .posts {
  width: 80vw;
  height: 80vh;
  margin: 2rem;
  flex-direction: row !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: visible;
  justify-content: space-evenly !important;
}
#post .posts iframe {
  width: 50rem;
  height: inherit;
  border-radius: 2rem;
  box-shadow: 5px 5px 40px black;
  transition: 0.3s all ease;
  transform: scale(0.9);
  position: relative;
}
#post .posts iframe:hover {
  transform: scale(1);
}
#post .posts .mid {
  transform: scale(0.95);
}
#post .posts .mid:hover {
  transform: scale(1.05);
}

/* contact==================================== */
#contact {
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  font-size: 4rem;
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6), transparent 100%, rgba(0, 0, 0, 0.8)), url("../images/contact-back.jpg") center no-repeat;
  background-size: cover;
  justify-content: space-evenly !important;
}
#contact * {
  overflow: hidden;
}
#contact .left {
  border-radius: 5rem;
  width: 60rem;
  aspect-ratio: 12/16;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(61, 60, 60, 0.8) !important;
  box-shadow: 5px 5px 10px black;
  transition: 0.3s all ease;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.556);
  padding: 2rem;
  color: white;
}
#contact .left img {
  width: 50%;
  border-radius: 50%;
  transition: 0.3s all ease;
  box-shadow: 4px 4px 8px rgb(4, 4, 4);
}
#contact .left hr {
  width: 90% !important;
  margin: 2rem 0;
  height: 2px;
  background-color: rgb(251, 245, 245) !important;
}
#contact .left p {
  color: rgb(207, 206, 206);
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-direction: row !important;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}
#contact .left p a {
  padding: 1rem !important;
  margin-right: 2rem;
  color: white;
}
#contact .left p i {
  margin-right: 0.5rem;
}
#contact .left:hover {
  box-shadow: 5px 5px 20px black;
  transform: scale(1.05);
}
#contact .left:hover img {
  box-shadow: 4px 4px 15px rgb(4, 4, 4);
  transform: scale(1.06);
}
#contact .container {
  position: relative;
  width: 60rem;
  aspect-ratio: 12/16;
  border-radius: 5rem;
  padding: 40px;
  box-sizing: border-box;
  background-color: rgba(61, 60, 60, 0.8) !important;
  box-shadow: 5px 5px 10px black;
  transition: 0.3s all ease;
}
#contact .container .brand-title {
  margin-top: 10px;
  font-weight: 900;
  font-size: 5rem;
  text-shadow: 2px 2px 3px black;
  color: #1DA1F2;
  letter-spacing: 1px;
}
#contact .container .inputs {
  text-align: left;
  margin-top: 30px;
}
#contact .container label, #contact .container input {
  display: block;
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}
#contact .container label {
  margin: 10px 0;
  color: white;
  margin-bottom: 4px;
  text-shadow: 2px 2px 3px black;
  font-size: 3rem;
}
#contact .container label:nth-of-type(2) {
  margin-top: 12px;
}
#contact .container input::-moz-placeholder, #contact .container textarea::-moz-placeholder {
  color: rgb(210, 210, 210);
}
#contact .container input::placeholder, #contact .container textarea::placeholder {
  color: rgb(210, 210, 210);
}
#contact .container input, #contact .container textarea {
  width: 100%;
  color: white;
  background: #6e6e6e;
  padding: 10px;
  padding-left: 20px;
  height: 50px;
  font-size: 14px;
  border-radius: 50px;
  border: none;
  box-shadow: inset 6px 6px 6px #626263, inset -6px -6px 6px rgb(63, 62, 62);
}
#contact .container textarea {
  height: 80px;
  color: white;
}
#contact .container textarea:active,
#contact .container textarea:focus {
  outline: none;
  border: none;
}
#contact .container button {
  margin: 20px;
}
#contact .container:hover {
  box-shadow: 5px 5px 20px black;
  transform: scale(1.05);
}

/* qrcode==================================== */
.qr-code-w {
  width: 100vw;
  height: 100vh;
  flex-direction: row;
  background-color: rgb(1, 169, 132);
  overflow: hidden;
}
.qr-code-w img {
  height: 100%;
}

.qr-code-t {
  width: 100vw;
  height: 100vh;
  flex-direction: row;
  background-color: rgb(0, 0, 0);
  overflow: hidden;
}
.qr-code-t img {
  height: 100%;
}

/* ==============animation====================== */
/* 
/* ==============responsive====================== */
/* lg */
@media (min-width: 1200px) {
  html {
    font-size: 50% !important;
  }
  .sillFoldable h2 {
    font-size: 7rem !important;
  }
}
/* md */
@media (min-width: 992px) and (max-width: 1199px) {
  html {
    font-size: 35% !important;
  }
}
/* sm */
@media (min-width: 768px) and (max-width: 991px) {
  html {
    font-size: 30% !important;
  }
}
/* xs */
@media (max-width: 767px) {
  html {
    font-size: 22% !important;
  }
}
/* XS Portrait */
@media (max-width: 479px) {
  html {
    font-size: 15% !important;
  }
}
@media (max-width: 900px) {
  nav {
    height: 70px;
    width: 100vw !important;
    top: auto;
    bottom: 0rem;
    z-index: 99;
  }
  nav .nav {
    width: 100vw !important;
    height: 70px !important;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 0 15rem;
    overflow: hidden;
    padding-bottom: 5px;
  }
  nav .link {
    margin-left: 4rem;
    border-radius: 0 0 100px 100px;
    justify-content: center;
  }
  nav a i {
    font-size: 25px;
  }
  .active b:nth-child(1) {
    width: 3rem !important;
    height: 70px !important;
    top: 0 !important;
    left: -3rem;
  }
  .active b:nth-child(1)::after {
    height: 70px !important;
    width: 3rem;
    border-top-right-radius: 30px !important;
    border-bottom-right-radius: 0rem !important;
  }
  .active b:nth-child(3) {
    width: 3rem !important;
    height: 70px !important;
    top: 0;
    right: -3rem;
  }
  .active b:nth-child(3)::after {
    height: 70px !important;
    width: 3rem;
    border-top-left-radius: 30px;
    border-top-right-radius: 0rem !important;
  }
  nav:hover {
    width: 100vw !important;
  }
  nav:hover .link {
    margin-left: 4rem;
    padding-left: 3rem;
    justify-content: center;
  }
  nav:hover .active b:nth-child(1),
  nav:hover .active b:nth-child(3) {
    width: 3rem;
  }
  nav:hover a {
    text-align: left;
  }
  nav:hover a h2 {
    display: none;
  }
  .header-strip {
    height: 91vh;
  }
  .header-strip::before {
    width: 20px;
  }
  .header-strip .strip-dots {
    left: -8px;
  }
  .header-strip a {
    width: 20rem;
    box-shadow: -2px -2px 5px #5a5a5a, 2px 2px 5px #ffffff;
    font-size: 8rem;
  }
  .header-text h1 {
    font-size: 22rem;
  }
  .header-text h2 {
    font-size: 11rem;
    color: #d9d6d6;
  }
  .header-text h1,
  .header-text h2 {
    text-shadow: 2px 2px 2px black;
  }
  .skills .innerSkills {
    flex-direction: column;
    gap: 15rem;
  }
  .skills .innerSkills .sillFoldable {
    width: 100% !important;
    height: 16.66%;
    transform: translateY(0) !important;
    padding: 20px;
  }
  .skills .innerSkills .sillFoldable h2 {
    transform: none !important;
  }
  .skills .innerSkills .sillFoldable ul {
    margin-top: 20px;
    transform: translateY(100%);
    font-size: 6rem;
    letter-spacing: 4px;
  }
  .skills .innerSkills .active {
    height: 60%;
  }
  .project {
    width: 80vw;
    height: 75vh;
    margin-bottom: 70px;
  }
  #contact {
    height: 110vh;
    flex-direction: column;
  }
  #contact .left {
    width: 65vw;
  }
  #contact .left img {
    width: 45%;
    margin-bottom: 3rem;
  }
  #contact .left h5 {
    font-size: 5rem;
  }
  #contact .left p {
    font-size: 3.5rem;
  }
  #contact .left:hover {
    transform: none;
  }
  #contact .left:hover img {
    transform: none;
  }
  #contact .container {
    width: 70vw;
    overflow: visible;
    aspect-ratio: 12/12;
  }
  #contact .container .brand-title {
    font-size: 8rem;
  }
  #contact .container label,
  #contact .container input,
  #contact .container textarea {
    font-size: 4rem;
  }
  #contact .container input {
    height: 25px;
  }
  #contact .container textarea {
    height: 35px;
  }
  #contact .container:hover {
    transform: none;
  }
  #about {
    text-shadow: 1px 3px 5px black;
  }
  #about .aboutback {
    background-position: center;
  }
  #about .abouttext {
    left: 0%;
    right: 0;
    margin: 0 auto;
    width: 80vw;
  }
  #about .abouttext h1 {
    font-size: 8rem;
    margin-bottom: 3rem;
  }
  #about .abouttext p {
    font-size: 6rem;
  }
  #about .abouttext h2 {
    font-size: 4rem;
  }
  .model1,
  .model2 {
    display: none !important;
  }
  #post {
    height: 180vh !important;
  }
  #post .button {
    right: 10rem !important;
  }
  #post .posts {
    width: 100vw;
    height: 170vh !important;
    justify-content: ceter;
    flex-direction: column !important;
  }
  #post .posts iframe {
    border-radius: 4rem;
    width: 80vw;
  }
  #post .posts iframe:hover {
    transform: none !important;
  }
  .button {
    font-size: 5rem;
    padding: 3rem;
  }
}
/* ==============responsive====================== *//*# sourceMappingURL=main.css.map */